<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue練習</title>
    <link rel="icon" href="/favicon.png" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <label for="">台幣</label>
        <input type="text" v-model="twd" />
      </div>
      <div>
        <label for="">日幣</label>
        <input type="text" v-model="jpy" />
        <span>當前匯率為 {{ getExchangeRate("jpy") }}</span>
      </div>
    </div>
    <div id="test1">
      <p>總金額共{{ subtotalComputed }}元</p>
      <p>總金額共{{ subtotalMethods() }}元</p>
      {{ message }}
    </div>

    <script type="module" src="./main.js"></script>
    <script type="module" src="./1-3_test1.js"></script>
  </body>
</html>
