<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue練習</title>
    <link rel="icon" href="../favicon.png" />
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <input
          type="checkbox"
          id="contactChoice1"
          value="email"
          v-model="contact"
        />
        <label for="contactChoice1">Email</label>
        <input
          type="checkbox"
          id="contactChoice2"
          value="phone"
          v-model="contact"
        />
        <label for="contactChoice2">Phone</label>
        <input
          type="checkbox"
          id="contactChoice3"
          value="line"
          v-model="contact"
        />
        <label for="contactChoice3">Line</label>
        <input
          type="checkbox"
          id="contactChoice4"
          value="all"
          v-model="contact"
        />
        <!-- v-on:input="selectAll()" -->
        <label for="contactChoice4">All</label>
      </div>

      <!-- 注意，v-model 要放在 select 而不是 option -->
      <select v-model="selected">
        <option disabled>請選擇</option>
        <option>台北市</option>
        <option>新北市</option>
        <option>基隆市</option>
      </select>

      <p>Selected: {{ selected || '未選擇' }}</p>
      <p v-once>Selected: {{ selected || '未選擇' }}</p>

      <div v-text="rawContent"></div>
      <div v-html="rawContent"></div>
    </div>
    <script type="module" src="./main.js"></script>
  </body>
</html>
